{%- capture product_class -%}
  {%- if sidebar -%}
    {%- if products_per_row == 2 -%}
      one-half column {% cycle collection_group_thumb: 'alpha', 'omega' %}
    {%- elsif products_per_row == 3 -%}
      one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}
    {%- else -%}
      one-fourth column {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}
    {%- endif -%}
  {%- else -%}
    {%- if products_per_row == 2 -%}
      eight columns {% cycle collection_group_thumb: 'alpha', 'omega' %}
    {%- elsif products_per_row == 3 -%}
      one-third column {% cycle collection_group_thumb: 'alpha', '', 'omega' %}
    {%- elsif products_per_row == 4 -%}
      four columns {% cycle collection_group_thumb: 'alpha', '', '', 'omega' %}
    {%- elsif products_per_row == 5 -%}
      one-fifth column {% cycle collection_group_thumb: 'alpha', '', '', '', 'omega' %}
    {%- elsif products_per_row == 6 -%}
      one-sixth column {% cycle collection_group_thumb: 'alpha', '', '', '', '', 'omega' %}
    {%- else -%}
      one-seventh column {% cycle collection_group_thumb: 'alpha', '', '', '', '', '', 'omega' %}
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

{% assign product_layout_class = product_class | strip_newlines | strip %}
{% assign collection_handles = product.collections | map: 'handle' %}
{% assign new_releases = product.metafields.sf_product.new_releases | downcase | split: ',' %}
{% assign pre_order_swatches = product.metafields.sf_product.pre_order_swatches | downcase | split: ',' %}

{% if hidden_swatches == empty %}
  {% assign hidden_swatches = product.metafields.sf_product.hidden_swatches | downcase | split: ',' %}
{% endif %}

{% assign show_only_new_releases = false %}
{% if collection and collection.handle contains 'new' %}
  {% assign show_only_new_releases = true %}
{% endif %}

{% assign new_release = false %}
{% assign new_release_banner = false %}
{% if collection_handles contains 'new' or new_releases != empty %}
  {% assign new_release = true %}
  {% assign new_release_banner = true %}
{% endif %}

{% for collection_handle in collection_handles %}
  {% if collection_handle contains 'new' %}
	{% assign new_release = true %}
    {% assign new_release_banner = true %}
	{% break %}
  {% endif %}
{% endfor %}

{% assign pre_order = false %}
{% assign pre_order_banner = false %}
{% if collection_handles contains 'pre-order' or pre_order_swatches != empty %}
  {% assign pre_order = true %}
  {% assign pre_order_banner = true %}
{% endif %}

{% assign pro_index = '' %}
{% for op in product.options %}
  {% assign op_handle = op | downcase %}
  {% if op_handle contains 'color' or op_handle contains 'colour' %}
    {% assign pro_index = forloop.index0 %}
  {% endif %}
{% endfor %}




{% assign variant_url = '' %}
{% assign variant_image = '' %}
{% if pro_index != '' %}
  {% assign pro_values = '' %}
  {% assign pro_numvalues = '' %}
  {% assign pro_option_index = pro_index %}
  <div class="{{ product_layout_class }} thumbnail">
  	
    {% assign first_loop = true %}
    {% for product_vari in product.variants %}
    {% if product_vari.available != true %}
      {% continue %}
    {% endif %}

    {% assign pro_value = product_vari.options[pro_index] %}
    {% assign pro_numvalue = product_vari.options[pro_option_index] %}
    {% assign color_name = pro_value | downcase %}

    {% assign new_variant_release = false %}
    {% assign new_release_banner = false %}
    {% if new_release %}
      {% for color in new_releases %}
        {% assign _color_name = color | downcase %}
        {% if color_name == _color_name %}
          {% assign new_variant_release = true %}
          {% assign new_release_banner = true %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if show_only_new_releases and new_release != true and new_variant_release != true %}
      {% continue %}
    {% endif %}

    {% assign pre_order_banner = false %}
    {% assign hide_sizes = false %}
    {% if pre_order %}
      {% for color in pre_order_swatches %}
        {% assign _color_name = color | downcase %}
        {% if color_name == _color_name %}
          {% assign hide_sizes = true %}
          {% assign pre_order_banner = true %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% assign skip = false %}
    {% if hidden_swatches != empty %}
      {% for color in hidden_swatches %}
        {% assign _color_name = color | downcase %}
        {% if color_name == _color_name %}
          {% assign skip = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
    
    {% if skip %}
      {% assign skip = false %}
      {% continue %}
    {% endif %}
    
    {% unless pro_values contains pro_value %}
      {% assign pro_values = pro_values | join: ',' %}
      {% assign pro_values = pro_values | append: ',' | append: pro_value %}
      {% assign pro_values = pro_values | split: ',' %}
      {% assign pro_numvalues = pro_numvalues | join: ',' %}
      {% assign pro_numvalues = pro_numvalues | append: ',' | append: pro_numvalues %}
      {% assign pro_numvalues = pro_numvalues | split: ',' %}
      {% assign variant_url = product_vari.url %}
      {% assign variant_image = product_vari.image.src %}

      {% if template.suffix contains 'ajax_filter_data' %}
        {% unless colorTag == '' or colorTag contains pro_value %}
          {% continue %}
        {% endunless %}
      {% endif %}

  {% assign collection_handles = product.collections | map: 'handle' %}
  {% if product.featured_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
    {% assign alt_text = product.title %}
  {% else %}
    {% assign alt_text = product.featured_image.alt %}
  {% endif %}

  {% if settings.align_height %}
    {% assign collection_height = settings.collection_height | plus: 0 %}
    {% assign product_aspect_ratio = product.featured_image.aspect_ratio | plus: 0 %}
    {% assign product_set_width = product_aspect_ratio | times: collection_height %}

    {% if product.featured_image.width >= product.featured_image.height %}
      {% assign align_height_value = 'width: 100%; height: auto;' %}
    {% else %}
      {% assign align_height_value = 'width: 100%;' %}
    {% endif %}
  {% endif %}

  {% assign change_model = false %}
  {% for image in product.images %}
    {% assign img_alt = image.alt | downcase %}
    {% if img_alt contains ',size' %}
      {% assign change_model = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  
  {% assign secondary_image = '' %}
  {% if pro_index and pro_index != '' %}
    {% assign color_name = pro_value | downcase %}
    {% assign count = 1 %}

    {% if change_model %}
      {% for image in product.images %}
        {% assign img_alt = image.alt | downcase %}
        {% assign image_color_name = img_alt | split: ',' | first %}
        {% if image_color_name == color_name %}
          {% if count == 2 %}
            {% assign secondary_image = image.src %}
            {% break %}
          {% endif %}
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for image in product.images %}
        {% assign img_alt = image.alt | downcase %}
        {% if img_alt == color_name %}
          {% if count == 2 %}
            {% assign secondary_image = image.src %}
            {% break %}
          {% endif %}
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% elsif product.images[1] != blank %}
    {% assign secondary_image = product.images[1].src %}
  {% else %}
    {% assign secondary_image = product.featured_image.src %}
  {% endif %}
  <div class="product-wrap product-thumb-{{ product_vari.id }}" {% unless first_loop %} style="display: none;" {% endunless %}>
    <div class="relative product_image swap-{% if secondary_image != '' %}true{% else %}false{% endif %}">
      <a href="{% if variant_url and variant_url != '' %}{{ variant_url }}{% else %}{{ product.url | within: collection }}{% endif %}" itemprop="url">
        <span class="image__container" style="{% if settings.align_height %}max-width: {{ product_set_width }}px;{% else %}max-width: {{- product.featured_image.width -}}px;{% endif %}">
          {% if variant_image and variant_image != '' %}
            <img
              {% comment %} src="{{ variant_image | product_img_url: '100x' }}" {% endcomment %}
              class="lazyload {{ settings.image_loading_style }}"
              data-sizes="auto"
              data-src="{{ variant_image | product_img_url: '900x' }}"
              data-srcset="{{ variant_image | product_img_url: '300x' }} 300w, {{ variant_image | product_img_url: '400x' }} 400w, {{ variant_image | product_img_url: '500x' }} 500w, {{ variant_image | product_img_url: '600x' }} 600w, {{ variant_image | product_img_url: '700x' }} 700w, {{ variant_image | product_img_url: '800x' }} 800w, {{ variant_image | product_img_url: '900x' }} 900w"
              alt="{{ alt_text | escape }}"
            />
          {% else %}
            <img
              {% comment %} src="{{ product.featured_image | product_img_url: '100x' }}" {% endcomment %}
              class="lazyload {{ settings.image_loading_style }}"
              data-sizes="auto"
              data-src="{{ product.featured_image | product_img_url: '900x' }}"
              data-srcset="{{ product.featured_image | product_img_url: '300x' }} 300w, {{ product.featured_image | product_img_url: '400x' }} 400w, {{ product.featured_image | product_img_url: '500x' }} 500w, {{ product.featured_image | product_img_url: '600x' }} 600w, {{ product.featured_image | product_img_url: '700x' }} 700w, {{ product.featured_image | product_img_url: '800x' }} 800w, {{ product.featured_image | product_img_url: '900x' }} 900w"
              alt="{{ alt_text | escape }}"
            />
          {% endif %}
          
          {% if secondary_image != '' %}
            <img
              {% comment %} src="{{ secondary_image | product_img_url: '900x' }}" {% endcomment %}
              class="secondary lazyload"
              data-sizes="auto"
              data-src="{{ secondary_image | product_img_url: '900x' }}"
              data-srcset="{{ secondary_image | product_img_url: '300x' }} 300w, {{ secondary_image | product_img_url: '400x' }} 400w, {{ secondary_image | product_img_url: '500x' }} 500w, {{ secondary_image | product_img_url: '600x' }} 600w, {{ secondary_image | product_img_url: '700x' }} 700w, {{ secondary_image | product_img_url: '800x' }} 800w, {{ secondary_image | product_img_url: '900x' }} 900w"
              alt="{{ alt_text | escape }}"
            />
          {% endif %}
        </span>
      </a>
      {% include "product-details" %}
    </div>
  	<a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{% if variant_url and variant_url != '' %}{{ variant_url }}{% else %}{{ product.url | within: collection }}{% endif %}" itemprop="url">{% include "product-info" %}</a>
  </div>
      {% assign first_loop = false %}
      {% endunless %}
    
  {% endfor %}
    <script type="text/javascript">
      $('.option-{{ product.id }}-{{ pro_index }}').change(function() {
        {% for product_vari in product.variants %}
          {% assign pro_value = product_vari.options[pro_index] %}
          {% if product_vari.available != true %}
            {% continue %}
          {% endif %}
          $('.product-thumb-{{ product_vari.id }}').hide();
          if('{{ pro_value }}' == this.value)
          {
              $('.product-thumb-{{ product_vari.id }}').css('display', 'block');
        	  $("input[name='option-{{ product_vari.id }}-{{ pro_index }}'][value='" + this.value + "']"). attr("checked", "checked");
          }
        {% endfor %}
      });
      
  </script>
  

</div>

  
		
         

		
    
{% else %}
  {% include 'product-thumbnail' %}
{% endif %}




